{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <form action="/" method="post">
                <input name="text" placeholder="URL or iframe code..."></input>
                <button type="submit">Send</button>
            </form>
            <table>
                <thead>
                    <th>Preview</th>
                    <th>&nbsp;</th>
                    <th>Description</th>
                </thead>
                <tbody>
                {% for video in videos %}
                    <tr>
                        <td>
                            <img src="{{ video.preview }}" alt="{{ video.name }}" /><br/>
                            {{ video.name }}
                        </td>
                        <td>{{ video.iframe|raw }}</td>
                        <td>{{ video.description }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


