{% extends 'base.html.twig' %}

{% block body %}
    <h1>Video</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ video.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ video.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ video.description }}</td>
            </tr>
            <tr>
                <th>Preview</th>
                <td>{{ video.preview }}</td>
            </tr>
            <tr>
                <th>Iframe</th>
                <td>{{ video.iframe }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{% if video.createdat %}{{ video.createdat|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{% if video.updatedat %}{{ video.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('video_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('video_edit', { 'id': video.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
